# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, see <https://www.gnu.org/licenses/>.
#
# Copyright (c) 2026 lameandboard

[rfid mfrc522_0]
spi_bus: spi2_PB2_PB11_PB10
cs_pin: Vivid_1:RFID0_CS
spi_speed: 100000
lanes: 1,2
messages: True
debug: False
scan_delay: 0.05
driver: auto
scan_window: 10.0 # How long (in seconds) the reader keeps scanning while the spool is spinning during a load sequence. Increase if your spool takes longer to rotate past the reader. Minimum: 1.0
max_pages: 135 #   NTAG213: 41 NTAG215: 131 NTAG216: 227 #Minimum: 4
auto_create_spool: False

[rfid mfrc522_1]
spi_bus: spi2_PB2_PB11_PB10
cs_pin: Vivid_1:RFID1_CS
spi_speed: 100000
lanes: 3,4
messages: True
debug: False
scan_delay: 0.05
driver: auto
scan_window: 10.0 # How long (in seconds) the reader keeps scanning while the spool is spinning during a load sequence. Increase if your spool takes longer to rotate past the reader. Minimum: 1.0
max_pages: 135 #   NTAG213: 41 NTAG215: 131 NTAG216: 227 #Minimum: 4
auto_create_spool: False
